.element {
    margin: 80px;
    width: 80px;
    height: 80px;
    background: lightblue;
    transition: all .2s;
    position: absolute;
}
.element:hover {
    /*transform: translate(100px,100px);*/
}

.container {
    position: fixed; /* or absolute */
    top: 10%;
    left: 10%;
}