.element {
    margin: 80px;
    width: 80px;
    height: 80px;
    background: lightblue;
    transition: all .2s;
    position: absolute;
    
    overflow: hidden;
    background-image: url();
    background-size: cover;
    background-position: center;
}
.element:hover {
    /*transform: translate(100px,100px);*/
}
.element img {
    /* max-width: ; */
}

.container {
    position: fixed; /* or absolute */
    top: 10%;
    left: 10%;
}

#boxInfo, #boxInputElement {
    display: none;
}